
<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/common/common.css">
    <link rel="stylesheet" href="/site/admin/base.css" >
    <link rel="stylesheet" href="//at.alicdn.com/t/font_ui9tkus3qjoo5hfr.css">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div id="header">
		<h1><i class="icon-pizza"></i>Pizza Admin</h1>
	</div>
	<div id="user-nav">
		<ul>
			<li><i class="icon-person"></i><span id="userinfo"></span></li>
			<li><a href="javascript:void(0);" id="loginout"><i class="icon-loginout"></i>退出</a></li>
		</ul>
	</div>
	<div id="search">
		<input type="search" id="searchkw">
	</div>
	<div id="sidebar">
		<ul>
			<li><a href="/admin" class=""><i class="icon-home"></i>主页</a></li>
			<li>
				<a href="#" class="submenu"><i class="icon-article"></i>信息管理</a>
				<ul>
					<li><a href="/admin/tree">节点管理</a></li>
					<li><a href="/admin/article">文章管理</a></li>
					<li><a href="/admin/block">模块管理</a></li>
				</ul>
			</li>
			<li>
        <a href="#" class="submenu"><i class="icon-setting"></i>互动管理</a>
        <ul>
					<li><a href="/admin/guestbook">留言板管理</a></li>
					<!-- <li><a href="/admin/usergroup">用户组管理</a></li> -->
					<!-- <li><a href="/admin/power">权限分配</a></li> -->
				</ul>
      </li>
      <li>
        <a href="#" class="submenu"><i class="icon-setting"></i>公众号基本功能</a>
        <ul>
          <li><a href="/wechat/text">文字回复</a></li>
          <li><a href="/wechat/img">图文回复</a></li>
          <!-- <li><a href="/wechat/guestbook">音乐回复</a></li> -->
          <!-- <li><a href="/wechat/guestbook">图片回复</a></li> -->
          <li><a href="/wechat/voice">语音回复</a></li>
          <li><a href="/wechat/video">视频回复</a></li>
          <li><a href="/wechat/selfapi">自定义接口回复</a></li>
          <li><a href="/wechat/system">系统回复</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="submenu"><i class="icon-setting"></i>公众号高级功能</a>
        <ul>
          <li><a href="/wechat/guestbook">常用服务接入</a></li>
          <li><a href="/wechat/guestbook">自定义菜单</a></li>
          <li><a href="/wechat/guestbook">特殊消息回复</a></li>
          <li><a href="/wechat/guestbook">二维码管理</a></li>
          <li><a href="/wechat/guestbook">多客服接入</a></li>
          <li><a href="/wechat/guestbook">长连接二维码</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="submenu"><i class="icon-setting"></i>系统管理</a>
        <ul>
          <li><a href="/admin/user">管理员管理</a></li>
          <!-- <li><a href="/admin/usergroup">用户组管理</a></li> -->
          <!-- <li><a href="/admin/power">权限分配</a></li> -->
        </ul>
      </li>
		</ul>
	</div>
	<div id="main">
		{% block content %}{%endblock%}
	</div>
	<div class="row-fluid"></div>
	<script type="text/javascript">
  var globleConfig = require('globle/globle');
  globleConfig.init();
	var common = require('common/common');
	common.init();
	</script>
    {% block js %}{%endblock%}
</body>

</html>
