{% extends "../master/index.html" %} {% block css%} {% endblock %} {% block title %} 文字回复 {% endblock %}
<!---->
{% block content %}
<style>
    .item-ul {
        border: 1px solid #ccc;
        width: 370px;
    }
    .item-ul li {
        border-bottom: 1px solid #ccc;
        padding: 5px;
        width: 370px;
    }
    .item-ul li:last-child {
        border-bottom: none;
    }
    .item-1 {
        height: 210px;
        position: relative;
    }

    .item-1 img {
        width: 360px;
        height: 200px;
    }

    .item-1 label {
        position: absolute;
        bottom: 5px;
        width: 360px;
        min-height: 30px;
        left: 5px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2px 0 0 1px;
    }
    .item-2 {
        width: 360px;
        height: 70px;
        position: relative;
        clear: both;

    }
    .item-2 img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .item-2 div {
       float: left;
       padding:0 5px;
        width: 307px;
        min-height: 30px;
    }
</style>
<div class="menu">
    <a href="javascript:history.back();">返回</a>
</div>
<ul class="list" id="list">
    <div class="form" style="width:800px;">
        <div>
            <label for="">关键字</label>
            <input type="text" id="keyword" name="keyword" placeholder="用空格隔开">
        </div>
        <div>
            <label for="">回复内容</label>
            <input type="text" id="content" name="content" placeholder="请填写文章id，用英文逗号隔开">
        </div>
        <div id="demo">
            <ul>
                <li></li>
            </ul>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="更新">
        </div>
    </div>
</ul>
{% endblock %}
<!---->
{% block js %}
<script type="text/javascript">
    var imgReplay = require('wechat/img/img');
    imgReplay.get();
    imgReplay.edit();
    $("#content").on("blur", function() {
        imgReplay.getArticle($(this));
    });
</script>
{% endblock %}
